@model Mandaloriano.Models.ViewModels.ListaYMisionVM

<h2>Seleccionar misión:</h2>

@if (Model != null)
{
    <form method="post">
        <label for="misiones">Elige una misión:</label>
        <select name="misionID">
            @foreach (var mision in Model.ListaMisiones)
            {
                <option value="@mision.ID">@mision.Titulo</option>
            }
        </select>
        <button type="submit">Ver detalles</button>
    </form>

    <h3>Misión: @Model.MisionSeleccionada.Titulo</h3>
    <p>@Model.MisionSeleccionada.Descripcion</p>
    <p>Créditos: @Model.MisionSeleccionada.Recompensa</p>
}
else
{
    <h3>Grogu está durmiendo, no querrás despertarlo ¿verdad?</h3>
    <h4>Las misiones volverán a estar activas a partir de las 8 AM</h4>
}