@using Ejercicio4MVC.Models.ENT
@model Ejercicio4MVC.Models.VM.EditarPersonasVM

<!DOCTYPE html>
    <html>
    <head>
        <title>Editar persona</title>
        <style>
            form > * { margin: 5px;}
        </style>
    </head>
    <body>
        <form style="text-align: center;">
            <label for="nombre">Nombre: </label>
            <input name="nombre" value="@Model.Nombre" type="text" /> <br />
            <label for="apellidos">Apellidos:</label>
            <input name="apellidos" type="text" value="@Model.Apellidos" /> <br />
            <label for="edad">Edad: </label>
            <input value="@Model.Edad" name="edad" type="number" /><br />
            <label for="dpto">Departamento:</label>
            <select name="dpto">
            @foreach (Departamento dpto in Model.departamentos)
            {
                if (dpto.Id == Model.IdDepartamento)
                {
                    <option selected="selected" value="@dpto.Id">@dpto.Nombre</option>
                }else
                {
                    <option value="@dpto.Id">@dpto.Nombre</option>
                }
               
            }
            </select><br />
            <input type="submit" value="Guardar" />
        </form>
    </body>
    </html>
